# Dependencies
node_modules/
/package-lock.json

# Next.js build and cache outputs
.next/
out/
build/

# Firebase configuration caches
.firebase/
*-debug.log
.firebaserc

# Local environment variables
.env*.local

# OS files
Thumbs.db
.DS_Store